/* 기본 설정 */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* 공통 화면 스타일 */
.intro, .cookie-page, .result-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

/* 배경 스타일 */
.intro, .cookie-page, .result-page {
  background-color: #CDEC55; /* 기본 배경색 */
  background-image: radial-gradient(#E4FF7B 10%, transparent 10%);
  background-size: 20px 20px;
}

.cookie-page {
  background-image: radial-gradient(#D6F363 10%, transparent 10%);
}

/* 이미지 스타일 */
img {
  max-width: 100%;
  height: auto;
}

.intro-image {
  width: 150px;
}

.intro-title, .start-button, .result-title, .result-cat, .result-home, .result-share {
  margin: 10px;
  cursor: pointer;
}

#cookie {
  width: 150px;
  cursor: pointer;
}

/* 숨겨진 요소 */
.hidden {
  display: none;
}
